* {
    background-color:rgb(35, 95, 122);
}

#logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.h3 {
    color: palegreen;
}

#upper {
    margin-right: 500px;
    margin-left: 500px;
}

#social-icons {
    font-size: 20px;
    display: flex;
    gap: 13px;
    justify-content:center;
    align-items:center;
}

#social-icons:hover {
    color: palegreen;
}

#biography  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
}

#biography #photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:palegreen;
}

#footer {
    color: palegreen;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

#courses {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

